<%= simple_form_for (candidate) do |f| %>

  <div>
    <%= f.input :name, label: "Name" %>
  </div>
  
  <div>
    <%= f.input :age, label: "Age" %>
  </div>
  
  <div>
    <%= f.input :party, label: "Party" %>
  </div>
  
  <div>
    <%= f.input :politics, label: "Politics" %>
  </div>
    <%= f.submit 'submit', class:"btn btn-info btn=xs" %>
<% end %>